global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'hap-appointmentrecords'
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ['host.docker.internal:8083']
    # se estiveres a correr a app dentro de docker na mesma network, usa 'hap-appointmentrecords:8083' como target

